<h4>Are you sure you want to delete your profile?</h4>
<h5>We are so sorry to see you go :(</h5>
<form action="/profile/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" style="">
</form>