<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Ice Spice</title>
</head>
<body>
    <div class="container">
        <div class="row">Ice Spice</div>
        <div class="row">a place to share your ideas about traveling to Iceland</div>
        <div class="row">
            <div class="col s12 m4"><a href="/signup">Sign Up</a></div>
            <div class="col s12 m4"><a href="/login">Log In</a></div>
            <div class="col s12 m4"><a href="/posts">Read</a></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>
</html>