  <div class="container">
    <h4>Create your new post here and share it with readers!</h4>
    <form method="POST" action="/post/save" id="new-post">
      <input type="text" name="title" placeholder="Title">
      <input type="text" name="subtitle" placeholder="Subtitle">
      <input type="text" name="picture" placeholder="Image link">
      <input type="text" name="postbody" placeholder="Text">
      <button class="btn waves-effect waves-light grey" type="submit">Submit</button>
    </form>
  </div>
  