<form method="POST" action="/post/save">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="subtitle" placeholder="Subtitle">
  <input type="text" name="picture" placeholder="Image link">
  <input type="text" name="postbody" placeholder="Text">
  <button type="submit" style="width:50px;height:50px;background-color:light-blue;">
</form>
