body {
    background-image: linear-gradient(to bottom, rgba(100,100,113,0.5), rgba(178,146,113,0.5)), url("/images/image1.jpg");
    height: 100vh; 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#blog-title {
    font-family: 'Abril Fatface', cursive;
}

.hidden {
    display: none;
}

.show-it {
    display: block;
}

#blog-menu a {
    background-color: gray;
}

#blog-info {
    margin-top: 18%;
}